
<div class="add-product">
  <div>

  </div>
  <form #addproduct="ngForm" (ngSubmit)="submit(addproduct.value)" class="common-form">
  <h1 style="color: blueviolet;">Update Product</h1>



    <input type="text" class="form-input" placeholder="Enter product name" name="name" ngModel="{{productData?.name}}">
    <input type="number" class="form-input" placeholder="Enter product price" name="price" ngModel="{{productData?.price}}">
    <input type="text" class="form-input" placeholder="Enter product color" name="color" ngModel="{{productData?.color}}">
    <input type="text" class="form-input" placeholder="Enter product category" name="category" ngModel="{{productData?.category}}">
    <textarea   type="text" class="form-input" placeholder="Enter product Description" name="description" ngModel="{{productData?.description}}"></textarea>
    <input type="text" class="form-input" placeholder="Enter product image url" name="image" ngModel="{{productData?.image}}">
    <button class="form-button btn btn-primary"  >Update Product</button>



  </form>

  </div>

